@import url("https://fonts.googleapis.com/css2?family=Bakbak+One&display=swap");

body {
  margin: 0px;
  font-family: "Bakbak one", Arial, Helvetica, sans-serif;
  color: #141411;
}

h1,
h2,
h3,
p {
  margin: 0px;
}

ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

img {
  display: block;
  max-width: 85px;
}
